ASSET TRACKING

In [42]:
import pandas as pd

In [98]:
df = pd.read_csv('QR Code.csv')

In [99]:
df.head()

  barcode  qrcode                url
0  ABLATX  ABLATX  https://kop0.com/
1  ABLATY  ABLATY  https://kop0.com/
2  ABLATZ  ABLATZ  https://kop0.com/
3  ABLAT2  ABLAT2  https://kop0.com/
4  ABLAT3  ABLAT3  https://kop0.com/

Concatenate  url and qrcode

In [100]:
new = df['qrcode'].copy()

Concatenate values from first string

In [101]:
df['url'] = df['url'].str.cat(new)

In [102]:
df.drop(columns=['barcode'])

        qrcode                      url
0       ABLATX  https://kop0.com/ABLATX
1       ABLATY  https://kop0.com/ABLATY
2       ABLATZ  https://kop0.com/ABLATZ
3       ABLAT2  https://kop0.com/ABLAT2
4       ABLAT3  https://kop0.com/ABLAT3
...        ...                      ...
145452  ABRNFC  https://kop0.com/ABRNFC
145453  ABRNFD  https://kop0.com/ABRNFD
145454  ABRNFE  https://kop0.com/ABRNFE
145455  ABRNFF  https://kop0.com/ABRNFF
145456  ABRNFG  https://kop0.com/ABRNFG

[145457 rows x 2 columns]

In [108]:
df.rename(columns={'url':'barcode'},inplace = True)

In [ ]:
View updated columns

In [110]:
list(df)

['barcode', 'qrcode', 'barcode']

In [111]:
df.to_csv('new_qrcode2.csv')
df.tail()

       barcode  qrcode                  barcode
145452  ABRNFC  ABRNFC  https://kop0.com/ABRNFC
145453  ABRNFD  ABRNFD  https://kop0.com/ABRNFD
145454  ABRNFE  ABRNFE  https://kop0.com/ABRNFE
145455  ABRNFF  ABRNFF  https://kop0.com/ABRNFF
145456  ABRNFG  ABRNFG  https://kop0.com/ABRNFG